[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {extras = ["amazon"], version = "*"}
pandas = "*"
python-binance = "*"
pycoingecko = "*"
pre-commit = "*"
psycopg2 = "*"
tickerdata = {path = "./../tickerdata"}
apache-airflow-providers-postgres = "*"

[dev-packages]

[requires]
python_version = "3.8"
