[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {extras = ["postgres"], version = "*"}
tickerdata = {editable = true, path = "./../tickerdata"}

[dev-packages]

[requires]
python_version = "3.8"
